<div class="dashboard-container">
  <div class="dashboard-header shadow">
    <div class="header-content">
      <h1>Welcome Kannan,</h1>
      <p>Manage all your subscriptions in one place. Track spending, set
        reminders, and optimize your digital services.</p>
    </div>
    <div class="header-actions">
      <button
        class="wallet-btn shadow"
        type="button"
        {{on "click" (fn this.transitionToRoute "wallet")}}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-wallet-icon lucide-wallet"
        ><path
            d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"
          /><path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4" /></svg>
        <p>Manage Wallet</p>
      </button>
      <button
        class="add-money-btn shadow-sm"
        type="button"
        {{on "click" (fn this.transitionToRoute "subscriptions")}}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus"
        ><path d="M5 12h14" /><path d="M12 5v14" /></svg>
        <p>Add Subscription</p>
      </button>
    </div>
  </div>

  <div class="dashboard-stats-container">
    <div class="dashboard-stat-card shadow-sm">
      <div class="d-flex align-items-center">
        <div class="dashboard-stat-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-wallet-icon lucide-wallet"
          ><path
              d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"
            /><path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4" /></svg>

        </div>
        <h2 class="dashboard-stat-title pt-2">Wallet Balance</h2>
      </div>
      <div class="dashboard-stat-value">
        <span
          style={{if this.positiveIn "color:#7036e7;"}}
        >₹</span>{{this.wallet.balance}}.00</div>
      <button
        class="btn btn-light btn-block"
        type="button"
        {{on "click" (fn this.transitionToRoute "wallet")}}
      >Manage Wallet</button>
    </div>
    <div class="dashboard-stat-card shadow-sm">
      <div class="d-flex align-items-center mb-1">
        <div class="dashboard-stat-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trending-up-icon lucide-trending-up"
          ><polyline points="22 7 13.5 15.5 8.5 10.5 2 17" /><polyline
              points="16 7 22 7 22 13"
            /></svg>

        </div>
        <h2 class="dashboard-stat-title pt-1">Subscription Analytics</h2>
      </div>
      <div class="analytics-container">
        <div class="analytics-card">
          <span class="analytics-title">Active Subscriptions</span>
          <p
            class="analytics-value subscription-count-value"
          >{{this.subscriptions.activeSubscriptions}}</p>
        </div>
        <div class="analytics-card">
          <span class="analytics-title">Total Spending</span>
          <p
            class="analytics-value montly-count-value"
          >₹{{this.totMonthlyExpenses}}</p>
        </div>
        <div class="analytics-card">
          <span class="analytics-title">Top Category</span>
          <p
            class="analytics-value fw-bolder text-black fs-5"
          >{{this.topCategory}}</p>
        </div>
        <div class="analytics-card">
          <span class="analytics-title">Trend</span>
          <p class="analytics-value">
            <span style="color: {{this.trend.color}}">
              <i
                class="fa-solid fa-arrow-{{this.trend.icon}} fs-5 mt-1"
                style="margin-right: 5px;"
              ></i>
            </span>

            <span
              class="fw-bolder fs-5"
              style="color: {{this.trend.color}}"
            >Savings</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="min-stat-container">
    <div class="min-stat-card shadow-sm">
      <div class="d-flex align-items-center">
        <div class="dashboard-stat-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-boxes-icon lucide-boxes"
          ><path
              d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z"
            /><path d="m7 16.5-4.74-2.85" /><path d="m7 16.5 5-3" /><path
              d="M7 16.5v5.17"
            /><path
              d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z"
            /><path d="m17 16.5-5-3" /><path d="m17 16.5 4.74-2.85" /><path
              d="M17 16.5v5.17"
            /><path
              d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z"
            /><path d="M12 8 7.26 5.15" /><path d="m12 8 4.74-2.85" /><path
              d="M12 13.5V8"
            /></svg>
        </div>

        <h3 class="dashboard-stat-title pt-2">Total Subscriptions</h3>
      </div>
      <div
        class="min-stat-value"
      >{{this.subscriptions.userSubscriptions.length}}</div>
      <button
        class="btn btn-light btn-block"
        type="button"
        {{on "click" (fn this.transitionToRoute "wallet")}}
      >Manage Subscriptions</button>
    </div>

    <div class="min-stat-card shadow-sm">
      <div class="d-flex align-items-center">
        <div class="dashboard-stat-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-badge-percent-icon lucide-badge-percent"
          ><path
              d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
            /><path d="m15 9-6 6" /><path d="M9 9h.01" /><path
              d="M15 15h.01"
            /></svg>
        </div>

        <h3 class="dashboard-stat-title pt-2">Savings from offers</h3>
      </div>
      <div class="min-stat-value"><span
          style={{if this.positiveIn "color:#7036e7;"}}
        >₹</span>{{this.totDiscounts}}</div>
      <button
        class="btn btn-light btn-block"
        type="button"
        {{on "click" (fn this.transitionToRoute "subscriptions")}}
      >View Details</button>
    </div>

    <div class="min-stat-card shadow-sm">
      <div class="d-flex align-items-center">
        <div class="dashboard-stat-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-shield-icon lucide-shield"
          ><path
              d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
            /></svg>
        </div>

        <h3 class="dashboard-stat-title pt-2">Protection</h3>
      </div>
      <div class="min-stat-value"><span class="min-stat-plan">Basic</span></div>
      <button
        class="btn btn-light btn-block upgrade text-light shadow-sm"
        type="button"
        {{on "click" (fn this.transitionToRoute "upgrade")}}
      >Upgrade</button>
    </div>
  </div>

  <div class="dashboard-sections">
    <div class="section-card shadow-sm">
      <div class="section-header">
        <h2>Recent Subscriptions</h2>
        <a
          href="#"
          class="view-all"
          {{on "click" (fn this.transitionToRoute "subscriptions")}}
        >View All
          <i class="fas fa-arrow-right"></i></a>
      </div>
      {{#if
        (and
          this.subscriptions.userSubscriptions.length
          this.anyActiveSubsriptionFound
        )
      }}
        <div class="subscription-list">
          {{#each this.recentSubscriptions as |subscription|}}
            <div class="subscription-item">
              <div class="subscription-item-logo">
                <div class="logo-placeholder">{{get
                    subscription.title
                    "0"
                  }}</div>
              </div>
              <div class="subscription-item-details">
                <div class="subscription-item-name">{{subscription.title}}</div>
                <div
                  class="subscription-item-category"
                >{{subscription.category}}</div>
              </div>
              <div class="subscription-item-price">
                <div class="price">₹{{subscription.planPrice}}</div>
                <div class="billing-cycle">/{{subscription.planCycle}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="empty-state">
          <div class="empty-icon">
            <i class="fas fa-calendar"></i>
          </div>
          <p>You don't have any subscriptions yet</p>
          <button
            class="btn btn-primary"
            type="button"
            {{on "click" (fn this.transitionToRoute "subscriptions")}}
          >
            <i class="fas fa-plus"></i>
            Add Subscription
          </button>
        </div>
      {{/if}}
    </div>

    <div class="section-card shadow-sm">
      <div class="section-header">
        <h2>Recent Transactions</h2>
        <a
          href="#"
          class="view-all"
          {{on "click" (fn this.transitionToRoute "history")}}
        >View All
          <i class="fas fa-arrow-right"></i></a>
      </div>

      {{#if (and this.recentTransactions.length)}}
        <div class="subscription-list">
          {{#each this.recentTransactions as |transaction|}}
            <div class="subscription-item">
              <div class="subscription-item-logo">
                <div class="logo-placeholder">{{get
                    transaction.title
                    "0"
                  }}</div>
              </div>
              <div class="subscription-item-details">
                <div class="subscription-item-name">{{transaction.title}}</div>
                <div
                  class="subscription-item-category"
                >{{transaction.category}}</div>
              </div>
              <div class="subscription-item-price">
                <div class="transaction-amount {{transaction.type}}">
                  {{#if (eq transaction.type "debit")}}
                    -₹{{transaction.amount}}
                  {{else if (eq transaction.type "credit")}}
                    +₹{{transaction.amount}}
                  {{else if (eq transaction.type "refunded")}}
                    ₹{{transaction.amount}}
                    <span class="refunded-label">Refunded</span>
                  {{/if}}
                </div>
                <div class="billing-cycle"> {{transaction.date}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="empty-state">
          <div class="empty-icon">
            <i class="fas fa-calendar"></i>
          </div>
          <p>You don't have any transactions yet</p>
          <button
            class="btn btn-primary"
            type="button"
            {{on "click" (fn this.transitionToRoute "subscriptions")}}
          >
            <i class="fas fa-plus"></i>
            Add Subscription
          </button>
        </div>
      {{/if}}

    </div>
  </div>

  <div class="special-offers">
    <h1>Special Offers</h1>
    <div class="offers-row">
      {{#each this.offers as |offer|}}
        <div
          class="offer-card"
          style="background: linear-gradient(to right, {{get
            offer.colors
            '0'
          }}, {{get offer.colors '1'}});"
        >
          <div
            class="offer-image-container"
            style="background-image: url('{{offer.image}}');"
          >
            <div class="overlay"></div>
            <div class="featured">Featured</div>
            <div class="plan-title-description">
              <h4>{{offer.title}}</h4>
              <p>Limited time offer</p>
            </div>
          </div>
          <div class="plan-details-container">
            <h3>{{offer.plan}}</h3>
            <p>{{offer.devices}}</p>
            <h2>₹{{offer.offerPrice}}<sub>/month</sub>
              {{#if offer.actualPrice}}<del
                >₹{{offer.actualPrice}}</del>{{/if}}</h2>
            <button
              class="trail-button"
              type="button"
              {{on "click" (fn this.transitionToRoute "subscriptions")}}
            >
              {{if (eq offer.title "Spotify") "Get Family Plan"}}
              {{if (eq offer.title "Netflix") "Try 1 Month Free"}}
              {{if (eq offer.title "Youtube") "Get Started"}}
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>